body {
    font-family: 'Arial', sans-serif;
    background-color: #282c35;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 80%;
    background-color: #353b48; 
    color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3498db;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td { border: 1px solid #57606f; }

th, td {
    padding: 12px;
    text-align: left;
}

th { background-color: #2f3640; }